header{
    height: 100 px;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tres_comidas{
    display: flex;
}

textarea{
    
}