*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    text-decoration: none;
    color: inherit; 
}

a:-webkit-any-link {
    color: rgb(11, 42, 71);
    cursor: pointer;
    text-decoration: none;
    font-size: large;
}

header{
    height: 75px;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 219, 255);
    font-size: 25px;
}

.logo {
    height: 100px;
    margin-right: auto;
}


body{
    background-color: rgb(255, 255, 255);
}

h1{
    text-align: left;

}

#banner{
    padding: 0 50px;
    background-image: url(../images/banner.jpeg);
    height: 50vh;
    background-size:cover;
    background-position:center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;
    font-family: italic;
}

.contenido-banner h3 span{
    font-weight: 600;
}

.contenido-banner{
    position: relative;
    color: white;;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

#servicios{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(180, 219, 255, 0.295);
}
#servicios img{
    border-radius: 30%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    
}
#servicios div{
    padding: 30px 30px;
}
#servicios div h4{
    color:rgb(86, 87, 87);
    font-size: 20px;
    margin: 15px 0px;
}
#servicios div p{
    color: #4d4d5c;
    font-size: 18px;
}

#servicios{
    flex-direction: column;
    
}

footer{
    background-color: rgb(11, 42, 71);
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
.tres_comidas{
    display: flex;
}


/* Css relacionado con rutinas */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

form {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: rgb(11, 42, 71);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(180, 219, 255);
    color: black;
}


.lista-maquinas {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.maquina {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,1,2,0.09);
}

.maquina img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#banner-rutina{
    padding: 0 50px;
    background-image: url(../images/mancuernas.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: center;
}

.contenido-banner-rutina h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;
    font-family: italic;
}

.contenido-banner-rutina h3 span{
    font-weight: 600;
}

.contenido-banner-rutina{
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    height: auto; 
    background-color: #f0f0f0;
    padding-left: 20px;
    width: 70%;
}
